<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">
       
    <form class="form-horizontal" [formGroup]="signupForm"   (ngSubmit)="onFormSubmit()">
        <fieldset>
          <legend>SignUp</legend>
         
            <!--- Email Block --->
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="text"
                id="inputEmail" formControlName="email"
                placeholder="Email">
         
 <div *ngIf = "signupForm.controls['email'].touched && !signupForm.controls['email'].valid">
              <div *ngIf = "signupForm.controls['email'].hasError('required')" >
                  Email field can't be blank
              </div>  
  </div>
            </div>
            
           <!--- Buttons Block --->
            <div class="form-group">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
  </div>
</div>